body {
    font-family: Arial, sans-serif;
    background-color: #050027;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-bottom: 20px;
}

h1{
    color: #333333;
}
h2, h3{
    color: #ffffff;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555555;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #dddddd;
    border-radius: 4px;
}

button {
    background-color: #0057b7;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #00458f;
}

#contenido, #contenido-admin, #contenido-proyectos, #contenido-profesor, #contenido-cuentas {
    display: none;
}

#cerrar-sesion {
    background-color: #f44336;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#cerrar-sesion:hover {
    background-color: #e53935;
}

#lista-cuentas div, #lista-proyectos div {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

#formulario-edicion, #formulario-edicion-proyecto {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-top: 10px;
}

p {
    color: #050027;
}

/* Estilo para organizar Control de Cuentas y Control de Proyectos en columnas */
#contenido-admin {
    display: flex;
    justify-content: space-between;
    
}

#contenido-cuentas, #contenido-proyectos {
    flex: 1;
    margin: 10px;
}
